@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure at least the viewport height */
    margin: 0;
    font-family: 'Exo', sans-serif;
  }

  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgba(255, 255, 255, 0.4)
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgba(255, 255, 255, 0.4)
  }
  
  input[type=submit] {
    background-image: linear-gradient(
    to top,
    #f77062 0%,
    hsl(336, 99%, 66%) 100%
  );
    color: white;
    padding: 30px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background: #4e54c8;
  }
  
  /* Style the container/contact section */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    box-sizing: border-box;
    vertical-align: center;
    z-index: 1;
  }

  /* Style the "card" */
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin-bottom: 0;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .card h2 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  body, html {
    height: 100%;
    margin: 0;
  }

  .card form label {
    margin-bottom: 5px;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
  }
  
  .card form input, .card form textarea {
    width: calc(100% - 24px);
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 9px;
    align-items: center;
  }

  .form {
    width: 80%;
    margin: 0 auto;
    align-items: center;
  }

  .form input, .form textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .form input[type="submit"] {
    width: auto;
  }

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

/* Here to footer is code for background */
.area{
    position: fixed;
    top: 0;
    left: 0;
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    z-index: -1;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

 .footer {
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
  } 