* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  overflow-x: hidden;
}

.main_container {
  z-index: 1;
  margin: 0 auto;
  height: auto;
  display: flex;
  gap: 3rem;
  padding-left: 45%;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  width: 100%;  
}

.main_content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-left: 1.2rem;  
  padding-top: 10rem;
  order: 1; 
  width: 55%;
}

.main_content h1 {
  text-align: center;
  font-size: 3rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: transform 0.75s ease;
}

.container {
  height: auto;
  background-image: url('images/theIndexBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.main_content h1:hover {
  transform: scale(1.1);
}

.main_content p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  transition: transform 0.75s ease;
}

.main_content p:hover {
  transform: scale(1.1);
}

.main_btn {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 1rem;
  background-image: linear-gradient(
    to top,
    #f77062 0%,
    hsl(336, 99%, 66%) 100%
  );
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main_btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main_btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.main_btn:hover {
  color: #fff;
}

.main_btn:hover:after {
  width: 100%;
}

.image-row {
  display: flex;
  order: 2; 
  justify-content: space-around; 
  align-items: center;
  width: auto; 
  padding-left:2rem;
  height: auto;
  overflow:hidden;
}

.responsive-image {
  width: 30%; 
  height: 12rem; 
  object-fit: cover; 
  margin: 0 1%;
  border: 3px solid white; 
  box-sizing: border-box;
  transition: transform 0.5s ease;
  border-radius: 0.5rem;
  margin: 2% 1%;
}

.responsive-image:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.tow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 5rem;
}
.tow__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 3rem;
  padding-top:2rem;
  padding-top: 10rem;
  width: 100%;
}
.tow__content h1 {
  background-color: #ff8177;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  padding-left: 15rem;
  font-size: 2.5rem;
  text-align: center;
  transition: transform 0.75s ease !important;
}

.tow__content h1:hover {
  transform: scale(1.2) !important;
}

.content__cards {
  display: flex;
  justify-content: flex-start;
  width:100%;
}

.cards__card {
  margin: 1rem;
  max-height: 33rem;
  width: 100%; 
  max-width: 25rem; 
  margin: 1rem;
  height: 33rem;
  border-radius: 0.25rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 0, 255, 0.888) 120%
    ),
    url('images/CanteTOW.jpg');
  background-size: cover;
  position: relative;
  transition: 0.75s ease;

}

.cards__card:before {
  opacity: 0.2;
}

.cards__card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 132, 0, 0.888) 120%
    ),
    url('images/TOW.jpg');
}

.cards__card h2 {
  position: absolute;
  top: 350px;
  left: 30px;
  color: #fff;
}

.cards__card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width:1024px) { 
  .container {
    background-size: contain;
    background-image: linear-gradient(to left,#43B4FC, #9729C4);
}

.main{
  height: auto;
}

.main_container{
  padding-left: 0;
  padding-right: 0;
  padding-top: 4rem;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  gap: 4rem;
} 

 .main_content {
  order: 1; 
  width: 70%;
  padding: 0;
}

.image-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem; 
  padding: 0;
  overflow: visible;  
  margin-bottom: 1.5rem;
}

.tow__content h1{
  padding: 0;
}

.tow__content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:0;
}

.content__cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.responsive-image{
  width: 100%; 
  }
} 

@media screen and (max-width: 600px) {
  .cards__card {
    max-width: 95%; 
    margin: 1rem auto; 
  }

  .tow__content h1 {
    padding:0;
  }
  }
