/* Footer CSS */
.footer__container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.socials__socials-group {
  list-style: none; 
  padding: 0; 
  display: flex;
  gap: 1rem;
}

.socials-group__item {
  width: auto; 
  height: auto;
}

.socials-group__item img {
  width: 1.8rem;
  height: 1.8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: 0.5s ease;
}

.socials-group__item img:hover {
  transform: scale(1.3); 
}
